footer {
	background-color: #000;
	color: #f3f3f3;
	float: left;
	margin: 0 auto;
	padding: 25px 40px;
	position: relative;
	text-align: center;
	width: 100%;
	z-index: 2;

	.site-info {
		margin: auto;
		width: 100%;
	}

	.footer-left {
		@include span-columns(6);
		margin-top: 30px;
		margin-bottom: 40px;
		padding: 10px;
		text-align: left;
	}

	.footer-right {
		@include span-columns(6);
		margin-top: 30px;
		margin-bottom: 40px;
		padding: 10px;
		text-align: right;
	}
}
