header#masthead {
	@include fill-parent;
	top: 125px;
	position: fixed;
	z-index: 1;
}
.site-branding {
	@include outer-container;
	text-align: center;

	.site-title {
		@include media($sm) {
			@include fontSize(35px);
			@include span-columns( 4 );
		}
		@include media($smbg) {
			@include fontSize(55px);
		}
		@include media($md) {
			@include fontSize(75px);
			@include span-columns(4);
			@include omega( 2n table );
		}
		@include media($hg) {
			@include span-columns( 5 );
		}


		float: left;
		font-family: "strenuous", $title;
		// font-style: italic;
		font-weight: 400;
		letter-spacing: 8px;
		margin-top: 0;
		text-shadow: 3px 3px 0px #f3f3f3, 5px 5px 0px darken(#f47a33, 20);
		text-transform: none;

		a, a:visited {
			color: #961C22;


		}
	}

	.site-description {
		@include fontSize(20px);
		@include media($sm) {
			@include fontSize(15px);
		}
		@include media($smbg) {
			@include fontSize(18px);
		}
		@include media($md) {
			@include fontSize(25px);
		}
		font-family: $content;
		font-style: italic;
	}
	.cta-buttons {
		@include media($sm) {
			@include span-columns( 4 );
			padding: 0 10px;
		}
		@include media($md) {
			@include span-columns( 2 );
		}
		@include media($hg) {
			@include span-columns( 6 );
			@include shift( 1 );
		}

		.genericon {
			@include fontSize(32px);
			left: 5px;
			top: 18px;

			@include media($sm) {
				position: absolute;
				left: -25%;
			}
			@include media($smbg) {

			}
			@include media($md) {
				left: 0;
			}
			@include media($hg) {
				left: -11px;
			}
			@include media(min-width 768px max-width 1140px) {
				left: -45px;
			}
		}
	}
	.github {
		@include neat-buttons($border-color: #1ABC9C, $border-radius: 50px, $button-padding: 20px, $button-bg: #1ABC9C );
		color: #fff;
		float: left;
		font-weight: 700;
		margin-left: 9%;
		clear: none;
		padding-left: 40px;
		position: relative;

		&:hover {
			padding-left: 40px;
		}

		@include media($sm) {
			@include span-columns(4);
			margin-left: 0;
		}
		@include media($smbg) {
			@include span-columns( 2 );
		}
		@include media($md) {
			@include span-columns( 5 );
		}
		@include media($hg) {
			@include span-columns( 6 );
			@include omega( 2n table );
		}
	}
	.download {
		@extend .github;
		background-color: #53aee0;
		border-color: #53aee0;
		margin-left: 12%;

		&:hover {
			background-color: darken(#53aee0, 10);
			border-color: darken(#53aee0, 40);

			@include media($sm) {
			}
		}

		@include media($sm) {
			@include span-columns(4);
			margin-left: 0;
		}
		@include media($smbg) {
			@include span-columns( 2 );
		}
		@include media($md) {
			@include span-columns( 5 );
		}
		@include media($hg) {
			@include span-columns( 6 );
			padding-left: 40px;
		}
	}

}