/* =Structure/Scaffolding
-------------------------------------------------------------- */
html {
	font-size: 62.5;
}

body {
	background-image: url(images/gplaypattern_@2X.png);
	@include fontSize(16px);
	font-family: $helvetica;
	word-break: break-word;
}

#page {
	 // @include outer-container;
}

.wrap {
	@include media($sm) {
		padding-top: 410px;
	}
	@include media($smbg) {
		padding-top: 385px;
	}
	@include media($md) {
		padding-top: 300px;
	}

}


#main {
	padding: 0 40px;
}

#primary {
	@include clearfix;
	margin: auto;
	width: 100%;

	ul {
		list-style: none;

		li {
			list-style-type: square;
		}
	}

}

#secondary {
	margin: 20px auto;
	width: 100%;
}
